# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# React Native
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/
*.jks
*.keystore

# Firebase
firebaseConfig.js  # Firebase yapılandırma dosyanız

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Android
android/.gradle/
android/app/build/
android/app/src/main/res/mipmap-*/ic_launcher.png
android/app/src/main/res/mipmap-*/ic_launcher_round.png	

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# iOS
ios/Pods/
ios/*.xcworkspace
ios/*.xcuserstate
ios/DerivedData/
ios/build/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/

# Misc
*.log
*.lock
*.tmp
*.swp
